@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}



@layer components{
  .container {
    @apply 
    xl:w-[95%]
  }
}

.p-galleria-thumbnail-container {
  background: transparent;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* COLORS */
.background-image-about {
  background-image: url('../../public/assets/home_images/quienes-somos.webp');
  background-attachment: fixed;
background-position: top right 35vw;
  background-repeat: no-repeat;
 
}

@media (max-width: 500px) {
  .background-image-about {
    background-image: url('../../public/assets/home_images/quienes-somos.webp');
    background-attachment: fixed;
  background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
  }
}
.background-image-invertir {
  background-image: url('../../public/assets/home_images/bg-invertir.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}

.super-shadow {
  @apply
  shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)]
}



/* INPUT */

input, textarea, select {
  @apply
  appearance-none
  p-[18px]
  border-2
  border-yellow-400
  text-sm
  hover:bg-yellow-400
  transition-all
  placeholder:text-black
  focus:outline-none
  focus:bg-yellow-400
}

.social-media-icon{
  margin: 0px 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.social-media-icon:hover{
  color: #ffc200;
  scale: 1.05;
}
@media (min-width: 2500px) {
  .social-media-icon {
   margin: 0px 2rem;
  }
}