@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .container {
    @apply xl:w-[95%];
  }
}

.p-galleria-thumbnail-container {
  background: transparent;
}
/* Cambiar el color de la barra del rango */
.p-slider-range {
  background-color: #505050 !important; /* Cambia este color por el que desees */
}

/* Cambiar el color del thumb (círculos blancos) */
.p-slider-handle {
  background-color: #ffc200 !important; /* Cambia este color por el que desees */
  border-color: rgb(196, 118, 2) !important;
}

/* Opcional: Cambiar el color del borde del thumb al hacer hover */
.p-slider-handle:hover {
  background-color: #ce9e01 !important;
  border-color: #ffc200 !important;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* COLORS
.background-image-about {
  background-image: url("../../public/assets/home_images/quienes-somos.webp");
  background-attachment: fixed;
  background-position: top right 35vw;
  background-repeat: no-repeat;
}
.background-image-hero {
  background-image: url("../../public/assets/home_images/hero/banner-feria.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.background-image-hero2 {
  background-image: url("../../public/assets/home_images/hero/banner-short-rental.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
} */

@media (max-width: 500px) {
  /* .background-image-about {
    background-image: url("../../public/assets/home_images/quienes-somos.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  } */
  .background-image-hero {
    background-image: url("../../public/assets/home_images/hero/banner-feria.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .background-image-hero2 {
    background-image: url("../../public/assets/home_images/hero/banner-short-rental.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.background-image-invertir {
  background-image: url("../../public/assets/home_images/bg-invertir.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.super-shadow {
  @apply shadow-[0px_4px_16px_rgba(17,17,26,0.1),_0px_8px_24px_rgba(17,17,26,0.1),_0px_16px_56px_rgba(17,17,26,0.1)];
}

.inputs-invertir input {
  @apply appearance-none
  p-[18px]
  border-2
  border-yellow-400
  text-sm
  hover:bg-yellow-400
  transition-all
  placeholder:text-black
  focus:outline-none
  focus:bg-yellow-400;
}

/* INPUT */

select {
  @apply appearance-none
  p-[18px]
  border-2
  border-yellow-400
  text-sm
  hover:bg-yellow-400
  transition-all
  placeholder:text-black
  focus:outline-none
  focus:bg-yellow-400;
}
.transition-button {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.social-media-icon {
  margin: 0px 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.social-media-icon:hover {
  color: #ffc200;
  scale: 1.05;
}
@media (max-width: 320px) {
  .social-media-icon {
    margin: 0px 10px;
  }
}
@media (min-width: 2500px) {
  .social-media-icon {
    margin: 0px 2rem;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #555;
}
/* 
---------------- */



.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {

  position: relative;
  max-width: 500px;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  z-index: 10;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: -16px;
    right: -16px;
    background: rgba(0, 0, 0, 0.7);
    height: 40px;
    width: 40px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(35);
  }
}

.card1:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}


.map-container {
  position: relative;
  width: 100%; /* Ajusta al contenedor */
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
